/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  list-style-position: inside;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  color: var(--clr-primary);
  text-decoration: none;
}

/* after reset */
html {
  font-family: "Noto Sans KR";
  font-size: 62.5%;
}

:root {
  --clr-primary: hsl(210, 100%, 50%);
  --clr-gray: hsl(180, 0%, 50%);
  --clr-white: hsl(255, 100%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --fs-xxlg: 4rem;
  --fs-xlg: 3.2rem;
  --fs-lg: 2rem;
  --fs-md: 1.6rem;
  --fs-sm: 1.4rem;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-normal: 400;
  --gap: 2rem;
  --icon-size: 2rem;
}

mark {
  padding: 2px 4px;
  border-radius: 2px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.container {
  --max-width: 1024px;
  margin-inline: auto;
  width: var(--max-width);

  @media screen and (max-width: 1024px) {
    --max-width: 720px;
  }

  @media screen and (max-width: 768px) {
    --max-width: 640px;
  }
}

.header {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-block-start: 5rem;
  margin-block-end: 2rem;

  @media screen and (max-width: 768px) {
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
}

.header--title {
  font-size: var(--fs-xlg);
  font-weight: var(--fw-bold);
  margin-block-end: 0.75rem;
}

.header--paragraph {
  font-size: var(--fs-lg);
  font-weight: var(--fw-normal);
  margin-block-end: 0.75rem;
  @media screen and (max-width: 768px) {
    margin-block-end: 0.25rem;
  }
}

.menu {
  display: grid;
  grid-auto-flow: column;
  gap: 0.75rem;
  list-style: none;
  font-size: var(--fs-sm);
}

.menu--item {
  padding-inline: 0.25rem;
}

.menu--link {
  display: flex;
  align-items: center;
  gap: 0.45rem;
  color: var(--clr-gray);
}

.menu--link:has(:hover, :focus) > span {
  color: var(--clr-primary);
}

.menu--icon {
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;
  color: var(--clr-primary);
}

.section {
  margin-block-end: 3rem;
}

.section--header {
  border-bottom: 1.5rem;
  border-bottom-width: 3px;
  border-bottom-color: var(--clr-black);
  border-bottom-style: solid;
  margin-block-end: 2rem;
}

.section--title {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-xlg);
  color: var(--clr-primary);
  padding-block-end: 0.25rem;
}

.stack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-wrap: pretty;
  font-size: var(--fs-md);
  @media screen and (width < 1024px) {
    grid-template-columns: 1fr;
  }
}

.stack--item {
  margin-block-end: 0.25rem;
}

.stack--item__bold {
  font-weight: var(--fw-bold);
}

.project {
  font-size: var(--fs-md);
  margin-block-end: 1.25rem;
}

.project--description {
  margin-block-end: 0.5rem;
  font-size: var(--fs-lg);
}

.sample {
  font-size: var(--fs-md);
}

.work_experience {
  font-size: var(--fs-md);
}

.work_experience--infos {
  display: grid;
  justify-content: center;
  gap: 0.35rem;
  text-align: center;
  margin-block-end: 1rem;
}

.work_experience--company {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semi-bold);
}

.work_experience--link {
  font-size: var(--fs-sm);
  color: var(--clr-gray);
  font-style: italic;
}

.about_me {
  font-size: var(--fs-md);
}
